*{
    box-sizing: border-box;
    user-select: none
}

@import url('https://fonts.cdnfonts.com/css/raleway-5');

body{
    background-color: #123;

    margin: 0;
    color: #eef;

    font-family: raleway, monospace;
    font-size: 1.8em;
}

h1{
    text-align: center;
}

img{
    -webkit-user-drag: none;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100vw;
    display: flex;
    background-color: #246;

    padding: 1.5%;
    padding-top: .5%;
    padding-bottom: .5%;

    justify-content: end;

    column-gap: .5%;
}

nav > a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;

    /* justify-self: end; */

    margin: 10px;
}

nav > #home{
    position: absolute;
    left: 1.5%;
    
    /* justify-self: start; */
}


.smalltext{
    font-size: .44em;
    margin: 0;
}

